@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Unbounded:wght@300;400;600&display=swap');

* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container .cabeçalho-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

h1{
    color: #fff;
    font-family: 'unbounded', cursive;
    font-size: 20px;
}

.container-perfis{
    flex-wrap: wrap;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between; 
    width: 700px;
    height: 150px;
}

.container-perfis .Box{
    border: #000 1px solid;
    border-radius: 13px;
    width: 160px;
    height: 160px;
    margin: 5px;
}

.container-perfis .Box .imagens-perfil {
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.container-perfis .Box:hover{
    border: #fff 1px solid;
    cursor: pointer;
    font-size: 20px;
}

.container-perfis .Box .add-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    background-color: #1b1a1a;
}

.container-perfis .Box:hover{
    border: #fff 2px solid;
    cursor: pointer;
}

.container-perfis .Box p{
    color: #adb5bd;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

form{
    margin-bottom: 10%;
}

form button {
    width: 160px;
    height: 43px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

form button:hover{
    background-color: #adb5bd;
    cursor: pointer;
    color: #000;
}


